/**************************************************
	GLOBAL SETTINGS
 **************************************************/
html,body {
	width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	
  background: -webkit-linear-gradient(#D0D0D0, #FFFFFF, #D0D0D0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#D0D0D0, #FFFFFF, #D0D0D0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#D0D0D0, #FFFFFF, #D0D0D0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#D0D0D0, #FFFFFF, #D0D0D0); /* Standard syntax */
}

h1 {
	font-size: 24px;
	margin: 2px;
}

/**************************************************
	NAVIGATION
 **************************************************/
nav {
	width: auto;
	min-height: 50px;
	background: #E7E7E7;
	border-radius: 10px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin: 0 5px 5px 5px;
	border: 1px solid #000000;
	box-sizing: border-box;
}

nav ul {
	margin-left: 0px;
	padding: 0px;
}

nav li {
	float:left;
	list-style-type: none;
	margin-left: 5px;
	padding: 0px;
	background: #555555;
	border-radius: 10px;
	min-width: 100px;
}

nav li a {
	padding: 13px;
	display: block;
	text-align: center;
	font-size: 20px;
}

nav li a:link,
nav li a:active,
nav li a:visited {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

nav li:hover {
	background: #502020;
}

/**************************************************
	GLOBAL CONTENT
 **************************************************/
section, aside {
}

div#container {
	display: flex;
	flex-flow: row;
	clear: both;
}

/**************************************************
	TOOLBAR (LEFT)
 **************************************************/
div#toolbar {
	flex: 0 0 260px;
	order: 1;
	display:flex;
	margin-left: 5px;
	
	background: #E7E7E7;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid #000000;
	box-sizing: border-box;
}

div#toolbar section, div#toolbar aside {
	/*width: 260px;*/
}

/**************************************************
	CANVAS (RIGHT)
 **************************************************/
div#map {
	margin: 0 5px 0 5px;
	flex: 1 1 auto;
	order: 2;
	display:flex;
	
	background: #E7E7E7;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid #000000;
	box-sizing: border-box;
}

div#map section, div#map aside {
	/*min-width: 100%;*/
	/*width: 100%; */
}

/**************************************************
	MOBILE SETUP
 **************************************************/
@media all and (max-width: 1320px) {

	div#container {
		flex-flow: column; flex-direction: column;
	}
	
	div#toolbar, div#map {
		order: 0;
		margin: 0 5px;
	}
	
	div#toolbar, div#map {
		/*min-width: 100%;*/
	}
	
	div#toolbar section, div#toolbar aside , div#map section, div#map aside {
		/*width: 100%;*/
	}
	
	div#toolbar {
		margin-top: 5px;
	}
	
}

/**************************************************
	FOOTER
 **************************************************/
footer {
	margin: 5px 5px 0 5px;
	background: #E7E7E7;
	border-radius: 10px;
	border: 1px solid #000000;
	padding: 5px;
}